@font-face {
    font-family: 'Creepster';
    src: url('fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
    overflow: hidden;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: saturate(0.5);
    z-index: -1;
}


canvas {
    background-color: #000;
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    height: 100vh;
    max-width: 100vw;
}


h1.custom-font {
    font-family: 'Nabla', sans-serif, !important;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    filter: hue-rotate(100deg);
}


.icon-overlay {
    font-size: 32px;
    color: #fff;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    cursor: pointer;
}


.title {
    background-color: dodgerblue;
    border-radius: 64px;
    border: 1px solid #000;
    color: #ccc !important;
}


.game {
    position: relative;
    display: inline-block;
}


#controls {
    width: 100%;
    max-width: 720px;
}


#start,
#tryAgain {
    width: 50%;
    max-height: 50vh;
    cursor: pointer;
}


.gameOverImg {
    width: 100%;
}


#rotateMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 40vh;
    z-index: 10;
}


.active-touch {
    filter: invert();
}


.gameWonImg {
    max-height: 480px;
    height: 100%;
}


#gameWonBg {
    background-color: #000;
    height: 150vh;
    width: 125vw;
}


#victory {
    height: 100vh;
    width: 100vw;
}


@media only screen and (max-height: 590px) {
    #title {
        display: none;
    }


}