@font-face {
    font-family: 'Creepster';
    src: url('fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: saturate(0.5);
    z-index: -1;
}


canvas {
    background-color: #000;
    border: 1px solid #000;
}


h1.custom-font {
    font-family: 'Nabla', sans-serif, !important;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    filter: hue-rotate(100deg);
}


.icon-overlay {
    font-size: 24px;
    color: #fff;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    cursor: pointer;
}


.title {
    background-color: dodgerblue;
    border-radius: 64px;
    border: 1px solid #000;
    color: #ccc !important;
}


.game {
    position: relative;
    display: inline-block;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }


    canvas {
        height: 100vh;
    }
}